$button-left-pad: 15px;

.form--input {
  background: transparent;
  font-size: 1em;
  padding: .4em 0;
  color: #666;
  outline: none;
  margin-top: 10px;
  width: 100%;
  max-width: 350px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1px;
  &:focus {
    border-bottom: 2px solid dodgerblue;
    margin-bottom: 0;
  }
  &[invalid] {
    border-bottom-color: red;
  }
}

.form--button {
  @extend .l-clickable;
  background-color: darken($theme-color, 5%);
  color: white;
  border-radius: 3px;
  padding: 15px 30px;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
  font-weight: bold;
}
