.landing {
  @extend .card;
  font-family: monospace;
  line-height: 1.75;
  padding: 0 50px;
}

.landing--title {
  text-align: center;
}

.landing--paragraph {
  margin-bottom: 25px;
}

.landing--footer {
  padding: 25px;
  text-align: center;
}

@media #{$desktop} {
  .landing {
    margin: 10px;
  }
}

@media #{$mobile} {
  .landing {
    padding: 0 10px;
    margin: 15px 0;
  }

  .landing--paragraph {
    text-align: left;
  }
}
