$toolbar-font-color: white;

.toolbar {
  background: $theme-color;
  height: $toolbar_height;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  top: 0;
  padding: 0 15px;
  z-index: 1;
  align-items: center;
  color: $toolbar-font-color;
  fill: $toolbar-font-color;
  display: flex;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.50);
  transition: opacity $transition-time;
  will-change: opacity;
}

.toolbar--content {
  @extend .l-container;
  display: flex;
  width: 100%;
}

.toolbar--content--left {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toolbar--content--right {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
}

.toolbar--icon {
  display: block;
  width: 25px;
  height: 25px;
  fill: $toolbar-font-color;
  + * {
    margin-left: 12px;
  }
}
