<div class="card l-container">
  <h1 class="landing--title">Exercício de Front-End</h1>

  <div class="landing">
    <p class="landing--paragraph"><strong>Objetivo:</strong><br>
      Criar um front-end web (funcional), single page application e responsivo, a partir da descrição informada.
      Disponibilizar no GitHub, enviar o link para download e as instruções para utilização.</p>

    <p class="landing--paragraph"><strong>Tecnologia:</strong><br>
      Utilizar as tecnologias de sua preferencia.
      Será necessário na entrega descrever todas as tecnologias utilizadas e o motivo da escolha por cada uma delas.
    </p>

    <p class="landing--paragraph"><strong>Descrição:</strong><br>
      A aplicação deverá ser composta por um menu com 3 seguimentos.
      O primeiro seguimento obrigatoriamente deverá ser um cadastro de usuários.
      O Segundo seguimento deverá estar associado a execução de atividades de manutenção no cadastro ou um
      sub-cadastro de funcionalidades e outras caracteristicas.
      O terceiro seguimento obrigatoriamente deverá ser um dashboard que demonstre informações online de diversas
      formas relacionadas a utilização dos usuários.</p>

    <p class="landing--paragraph"><strong>Entrega:</strong><br>
      Disponibilizar a aplicação funcional e com os fontes no GitHub.
      Enviar o link para download.
      Enviar as instruções de instalação/utilização da aplicação.</p>

    <p class="landing--paragraph"><strong>O que será avaliado:</strong><br>
      Criatividade
      UX
      Organização do código
      Boas práticas</p>

    <hr>

    <p class="landing--footer">Developed By <strong>Martins, Thiago</strong></p>
  </div>
</div>
