<div class="l-container">

  <section>
    <header class="list-item--category">Usuários</header>
    <ul class="l-list-clean">
      <li class="list-item">
        <a class="list-item--content l-link-clean" href="#/users/32d16a51d265">
          <strong class="list-item--content--field-200">Thiago de Lima Martins</strong>
          <span class="list-item--content--field-100">Suzano</span>
          <span class="list-item--content--field l-mobile-hide">Fierent suavitate eos cu, in vis animal euismod. Vis
          ullum honestatis et, stet laudem epicurei his et, verear tacimates</span>
        </a>
      </li>
      <li class="list-item">
        <a class="list-item--content l-link-clean" href="#/users/32d16a51d265">
          <strong class="list-item--content--field-200">Xica Aparecida</strong>
          <span class="list-item--content--field-100">Suzano</span>
          <span class="list-item--content--field l-mobile-hide">Ut eum choro facete, legendos intellegam qui cu. Vel ex
          ludus pertinax. No autem numquam impedit vel, unum omnesque persequeris cu duo</span>
        </a>
      </li>
      <li class="list-item">
        <a class="list-item--content l-link-clean" href="#/users/32d16a51d265">
          <strong class="list-item--content--field-200">Bartolomew Oliveira</strong>
          <span class="list-item--content--field-100">Suzano</span>
          <span class="list-item--content--field l-mobile-hide">Ludus principes no his, dolor singulis ea eam, te stet
          tempor cum. Noluisse legendos assueverit eam no, no nec dolorem abhorreant</span>
        </a>
      </li>
      <li class="list-item">
        <a class="list-item--content l-link-clean" href="#/users/32d16a51d265">
          <strong class="list-item--content--field-200">Josecreide Gomes</strong>
          <span class="list-item--content--field-100">Suzano</span>
          <span class="list-item--content--field l-mobile-hide">Fierent suavitate eos cu, in vis animal euismod. Vis
          ullum honestatis et, stet laudem epicurei his et, verear tacimates</span>
        </a>
      </li>
    </ul>
  </section>
</div>

<a class="fast-action" href="#/users/new">
  <svg class="fast-action--icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
    <path d="M0 0h24v24H0z" fill="none"></path>
  </svg>
</a>
