<div class="l-container">

  <div class="l-row">
    <nav class="card l-5-12 l-mobile-only">
      <div class="item-merged l-text-discreet l-pad-10" role="link">Menus Avançados</div>
      <div class="item-merged l-clickable l-pad-10" role="link">Permissões</div>
      <div class="item-merged l-clickable l-pad-10" role="link">Histórico</div>
    </nav>

    <form class="card l-pad-15 l-7-12">
      <h2 class="l-margin-0">Informações do Usuário</h2>
      <input class="form--input l-block" placeholder="Name">
      <input class="form--input l-block" placeholder="City">
      <input class="form--input l-block" placeholder="Description"><br>
      <div class="l-inline-right">
        <button class="form--button">SALVAR</button>
      </div>
    </form>

    <nav class="card l-5-12 l-mobile-hide">
      <div class="item-merged l-text-discreet l-pad-10" role="link">Menus Avançados</div>
      <div class="item-merged l-clickable l-pad-10" role="link">Permissões</div>
      <div class="item-merged l-clickable l-pad-10" role="link">Histórico</div>
    </nav>
  </div>

</div>
